* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background: linear-gradient(135deg, #dfdfdf 0%, #b4c5e6 100%);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-container {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.transcriber-box {
  background: rgba(236, 236, 236, 0.85);
  backdrop-filter: blur(10px);
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;

  padding: 30px;
  width: 100%;
  max-width: 800px;
  box-shadow: 1px 8px 32px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

h2 {
  text-align: center;
  color: #3d3c3c;
}

.controls {
  display: flex;
  gap: 5%;
  justify-content: center;
  flex-wrap: wrap;
}

.btn {
  padding: 12px 24px;
  border: none;
  border-radius: 0.6rem;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;

  color: #fff;
}

.btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.mic-btn {
  background-color: rgb(17, 82, 136);
}
.mic-btn:hover {
  background-color: rgb(32, 13, 160);
}

.mic-btn.recording {
  background-color: rgb(205, 76, 76);
  animation: pulse 1.5s infinite;
  -webkit-animation: pulse 1.5s infinite;
}
.upload-btn {
  background-color: rgb(8, 154, 137);
}

.upload-btn:hover {
  background-color: rgb(12, 83, 74);
}

.textarea-wrapper {
  width: 100%;
  flex-grow: 1;
}

.text-display {
  width: 100%;
  min-height: 350px;
  padding: 15px;
  border-radius: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  -ms-border-radius: 9px;
  -o-border-radius: 9px;
  border: 1px solid #ccc;
  font-size: 16px;
  line-height: 1.5;
  resize: vertical;
  outline: none;
  background: #fff;
  transition: border-color 0.2s;
  -webkit-transition: border-color 0.2s;
  -moz-transition: border-color 0.2s;
  -ms-transition: border-color 0.2s;
  -o-transition: border-color 0.2s;
  color: #030614;
}

.tex-display:focus {
  border-color: #2700a7;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
